
body {
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    height: 100vh;
}
#home{
    display: flex; /* Define que o container usará flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
}
#home h1{
    text-align: center;
    
}
/* Menu centralizado */
.menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    flex-wrap: nowrap; /* Evita quebra de linha */
}

.menu a {
    color: #569cd6; /* Azul do VS Code */
    text-decoration: none;
    font-size: 1.2rem;
}

/* Para os símbolos, usamos um span para mudar a cor */
.menu a span {
    color: #ffffff; /* Branco para os símbolos */
}

.menu a:hover {
    color: #9cdcfe; /* Azul claro para hover */
}
h1{
    text-align: center;
    color:#569cd6;
}
h1 span{
    color: white;
}

/* Estilos da galeria */
.gallery-container {
    display: grid;
    gap: 1rem;
    max-width: 1200px;
    width: 100%;
    padding: 1rem;
}

/* Estilos dos cards */
.card {
    background-color: #252526;
    border: 1px solid #3c3c3c;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 1rem;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    color: #569cd6;
    margin: 0.5rem 0;
}

.card p {
    color:white;
}


/* Estilos para telas menores */
@media (max-width: 768px) {
    /* Um card por linha */
    .gallery-container {
        grid-template-columns: 1fr;
        max-width: 90%;
    }

    /* Centralizando o menu */
    .menu {
        flex-direction: column;
        align-items: center;
    }
}

/* Estilos para telas maiores */
@media (min-width: 769px) {
    /* Exibir mais de um card e centralizar */
    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        justify-content: center;
    }
}