<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
    
    <link rel="stylesheet" href="style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="pure-menu pure-menu-horizontal menu">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="#"><span>&#60;</span> HOME <span>&#62;</span></a>
                </li>
                <li class="pure-menu-item">
                    <a href="#"><span>&#60;</span> Quem Somos <span>&#62;</span></a>
                </li>
            </ul>
        </div>
    </header>

    <main>
        <!--Tags HTML (e.g., <div>, <h1>): Azul (#569CD6)
            Atributos HTML (e.g., class, id): Amarelo (#9CDCFE)
            Valores de Atributos (e.g., class="container"): Verde-amarelado (#CE9178)
            Conteúdo de Texto: Branco (#D4D4D4)
            Strings em Atributos: Verde claro (#CE9178)
            Comentários HTML (e.g., Comment ): Cinza claro (#6A9955) -->
            <section id="home" class="pure-u-1 pure-u-md-1">
                <div>
                    <h1 class="tags"><span>&#60;</span> Olá,boa noite! <span>&#62;</span></h1>
                    <div>
                        <h2 style="color: #9CDCFE;"> Por que usar: <span style="color: #CE9178;">"PURE CSS"</span></h2>
                    </div>
                </div>
            </section>


        <section id="gallery">
            <div>
                <h1 class="tags"><span>&#60;</span> Quem somos <span>&#62;</span></
            </div>
            <div class="gallery-container">
                <div>
                    <div class="card">
                        <img src="assets/auto-retrato.jpg" alt="Foto do Integrante Wanderson Matheus">
                        <div class="card-content">
                            <h3>Wanderson Matheus</h3>
                            <p>Descrição breve sobre o integrante e suas tecnologias principais.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <img src="assets/patrick.jpg" alt="Foto do Integrante Patrick">
                        <div class="card-content">
                            <h3>Patrick Leão</h3>
                            <p>Descrição breve sobre o integrante e suas tecnologias principais.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <img src="assets/luan.jpg" alt="Foto do Integrante Luan">
                        <div class="card-content">
                            <h3>Luan</h3>
                            <p>Descrição breve sobre o integrante e suas tecnologias principais.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <img src="https://via.placeholder.com/250x200" alt="Foto do Integrante">
                        <div class="card-content">
                            <h3>Nome do Integrante</h3>
                            <p>Descrição breve sobre o integrante e suas tecnologias principais.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <img src="https://via.placeholder.com/250x200" alt="Foto do Integrante">
                        <div class="card-content">
                            <h3>Nome do Integrante</h3>
                            <p>Descrição breve sobre o integrante e suas tecnologias principais.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <img src="https://via.placeholder.com/250x200" alt="Foto do Integrante">
                        <div class="card-content">
                            <h3>Nome do Integrante</h3>
                            <p>Descrição breve sobre o integrante e suas tecnologias principais.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <img src="https://via.placeholder.com/250x200" alt="Foto do Integrante">
                        <div class="card-content">
                            <h3>Nome do Integrante</h3>
                            <p>Descrição breve sobre o integrante e suas tecnologias principais.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>

    </footer>  
</body>
</html>